svg {
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    background: #f9f9f9;
}

.bar {
    fill: steelblue;
    cursor: pointer;
    transition: 0.2s;
}

.bar:hover {
    fill: orange;
}

.label {
    font-size: 12px;
    text-anchor: middle;
}

.value {
    font-size: 12px;
    text-anchor: middle;
    fill: #333;
}
